@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* les réglages de base  */
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #1d212a; 
}

/*-------------------------------------------------navbar du site ---------------------------------------------------------------------  */

.logo {
    margin-left: 20px;
    font-weight: bold;
    font-family: "Anton", serif;
    font-weight: 600;
}

.contactlogo {
    height: 50px;
    width: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343f56; 
    padding: 20px 10PX;
    font-size:larger;

}
nav ul {
    display: flex;
    gap: 50px;
}

nav ul li a {
    font-family: "Anton", serif;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;

    }
    nav ul {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        padding: 10px 0;
    }
}

/*-----------------------------------------------------------------------------------------------------------------------------------------  */
/*--------------------------------------------- premiere section (about me)------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------  */

.tete {
    height: 350px;
    width: 350px;
    border-radius: 200px;
    box-shadow: -1px 3px 20px 2px;
}

.aboutme {
    margin: 60px 30px;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}
.desciptionMoi p {
    font-size: 20px; 
    font-weight: 500;
}

.aboutme .desciptionMoi {
    max-width: 700px;
}

@media screen and (max-width: 768px) {
    .aboutme {
        flex-direction: column;
        text-align: center;
    }
    .tete {
        width: 250px;
        height: 250px;
    }
    .about-me p {
        font-size: 0.9rem;
      }
}

/*----------------------------------------------------------------------------------------------------------------------------------------  */
/*------------------------------------------------ deuxieme section (les logos)----------------------------------------------------------- */
/*----------------------------------------------------------------------------------------------------------------------------------------  */

/* main titre du site,internet */

.titre {
    font-size: 2.5rem; 
    font-weight: bold;
    text-transform: uppercase;
    margin: 100px 0 60px 100px;
  
    background: linear-gradient(45deg, #1de9b6, #4a148c);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  
    text-shadow: 0 0 10px rgba(77, 242, 215, 0.5),
                 0 0 20px rgba(74, 20, 140, 0.4);
  
    animation: fadeInSlideRotate 0.7s ease-out forwards,
               pulseGlow 2.5s infinite alternate ease-in-out;
  }
  
  @keyframes pulseGlow {
    0% {
      text-shadow: 0 0 10px rgba(77, 242, 215, 0.5),
                   0 0 20px rgba(74, 20, 140, 0.4);
    }
    100% {
      text-shadow: 0 0 20px rgba(77, 242, 215, 0.9),
                   0 0 30px rgba(74, 20, 140, 0.7);
    }
  }

.technologies {
    margin: 0px auto;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    max-width: 90%;
    text-align: center;
}

.imgtech {
    height: 80px;
    width: 80px;
}

.containtech {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containtech p {
    font-weight: bold;
    margin: 10px 0 30px 0;
}

@media screen and (max-width: 768px) {
    .imgtech {
        height: 60px;
        width: 60px;
    }
}

/* titre sur telephone  */

@media screen and (max-width: 480px) {
    .titre {
        font-size: 2em;
    }
    .titremainProjet {
        font-size: 1em;
    }
    .titrep {
        font-size: 1em;
    }
}

/*----------------------------------------------------------------------------------------------------------------------------------------  */
/*----------------------------------------------------troisieme section (les projets)-----------------------------------------------------  */
/*----------------------------------------------------------------------------------------------------------------------------------------  */

.titremainProjet {
    color: #ffffff;
    font-weight: bold;
    font-size: 2em;
    margin: 100px 60px ;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.containProjets {
    margin:100px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.containProjets img {
    width: 100%;
    max-width: 280px;
    height: 180px;
}

.projetBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 400px;
    opacity: 0.85;
    border-radius: 5px;
    box-shadow: 4px 4px 15px 3px;
}
.projetBox {
    width: 100%;
    max-width: 280px;
    height: 180px;
}

.projetBox p {
    font-size: 25px;
    padding: 8px 15px;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}


@media screen and (max-width: 950px) {
    .containProjets {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .projetBox {
        width: 100%;
        max-width: 280px;
        height: 180px;
    }
    .projetBox p {
        font-size: 18px;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 600px) {
    .containProjets {
        grid-template-columns: repeat(1, 1fr); 
    }
}
/* ------------------------------------------- pour le js-------------------------------------------------------------------*/
/* Effet de scroll */
section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Soulignement des liens actifs */
a.active {
    text-decoration: underline;
    text-decoration-color: #00ffff;
    text-decoration-thickness: 2px;
}

/* Animation pour les liens */
a {
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

/* Effet pour le lien "Retour" */
.retour a.active {
    text-decoration: underline;
    text-decoration-color: #00ffff;
    text-decoration-thickness: 2px;
}


/*----------------------------------------------------------------------------------------------------------------------------------------  */
/*------------------------------------------ Projets section ( dans les box) -------------------------------------------------------------  */
/*----------------------------------------------------------------------------------------------------------------------------------------  */


/* troisieme type de titre du site */
.titreProjet {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    color: gray;
    letter-spacing: 1px;
}

/*-----------------------bouton retour -------------------------- */
.retour img {
    height: 40px;
    width: 40px;
}
.retour {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 60px 0 0 20px;
    font-size: 15px;
}

.retour p {
    font-size: 20px;
    font-weight: bold;
}

/* -------------titre dans les petites box --------------------*/
.titrep {
    font-size: 1.8em;
    font-weight :bolder;
    color: gray;
    margin: 100px 50px 30px 200px;
}

.boxD {
    width: 600px;
    margin: 0 50px;
}

.projetS {
    height: 400px;
    width: 600px;
    margin: 20px 50px 20px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px;
}

.presentationP {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.descriptionP .boxD {
    font-size: 18px;

}
/*----------- les logiciel en bas de la description dans les box -----------*/
.logiciel {
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.logiciel p {
    text-align: center;
    font-weight:800;
}
@media screen and (max-width: 1350px) {
    .presentationP {
        display: flex;
    }

    .descriptionP .boxD {
        max-width: 550px;
    }

    .projetS {
        height: 400px;
        width: 600px;
        margin: 0 auto;
    }

    /* deuxieme partie des projets box */

    .fonc , .gain {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fonD ul, .gain ul li {
        text-align: center;
        font-size: 15px;
        max-width: 600px;
    }

    .imgPF .projetSDeux, .imgPG .projetSDeux, .fonD .projetSDeux  {
        height: 300px;
        width: 500px;
    }
}

@media screen and (max-width: 1000px) {
    
    .presentationP {
        display: flex;
        flex-direction: column;
    }

    .descriptionP .boxD {
        max-width: 450px;
    }

    .projetS {
        height: 350px;
        width: 550px;
        margin: 0 auto;
    }

    /* deuxieme partie des projets box */

    .fonc , .gain {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fonc .fonD, .fonc .imgPF, .gain .imgPG  {
        display: flex;
        flex-direction: column;
    }
    .fonD ul, .gain ul li {
        text-align: center;
        font-size: 15px;
        max-width: 600px;
    }

    .imgPF .projetSDeux, .imgPG .projetSDeux, .fonD .projetSDeux  {
        height: 300px;
        width: 500px;
    }
}

@media screen and (max-width: 480px) {
    .titrep {
        font-size: 22px;
        margin: 30px 0;
        text-align: center;
    }
    .presentationP {
        display: flex;
        flex-direction: column;
    }

    .descriptionP .boxD {
        max-width: 270px;
        font-size: 14px;
    }
    .projetS {
        height: 200px;
        width: 320px;
        margin: 0 auto;
    }
    .logiciel {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .logiciel div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* deuxieme partie des projets box */

    .fonc , .gain {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fonc .fonD, .fonc .imgPF, .gain .imgPG  {
        display: flex;
        flex-direction: column;
    }
    .fonD ul , .gain ul  {
        text-align: center;
        max-width: 280px;
        font-weight: normal;
    }
    .fonD .sizeD li , .gain .sizeD li{
        font-size: 14px;
    }

    .imgPF .projetSDeux, .imgPG .projetSDeux, .fonD .projetSDeux  {
        height: 150px;
        width: 300px;
    }
}

/* deuxieme partie de la des pages projets */

.projetSDeux {
    height: 300px;
    width: 500px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px;
}
/*------------------------------------------------- fonctionnalités -------------------------------------------------------------------*/
/* les li de la section des fontionnalités principales*/
.fonc {
    display: flex;
    flex-direction: column-reverse;
}
.fonc ul {
    margin: 20px 40px;
}
.fonc ul li {
    font-size: 17px;
}

.fonD {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

.fonD ul {
    width: 700px;
}

.imgPF {
    display: flex;
    justify-content:center;
}
/*------------------------------------------------- apprentissage --------------------------------------------------------------------*/
.gain {
    display: flex;
    flex-direction: column-reverse;
}
.gain ul li {
    font-size: 15px;
}

.gain .imgPG {
    display: flex;
    justify-content: center;
}

.gain ul {
    text-align: center;
    margin: 20px;
    font-weight: 800;
}

/*phrase du lien github */
.lien p {
    font-size: 18px;
}
.lien {
    margin: 50px;
    font-weight: bold;
    text-align: center;
    font-size: medium;
}

.lien span {
    font-weight: bold;
    font-family: "Anton", serif;
    font-weight: 200;
    color: aqua;
}


/*--------------------------------------------------- footer ------------------------------------------------------------------  */


footer {
    background-color: black;
    padding: 30px;
    font-size: 18px;
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titrefooter {
    margin: 15px;
}

.logofooter {
    display: flex;
    flex-direction: column;
}

.footer .infof {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; 
}
.cv {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 30px 0;

} 
/* ------copi ------------- */
.copi {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    background-color: black;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .logof {
        margin: 30px;
    }
}


