/* CSS logo, titre, lien, size police*/

.containtech {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.containtech:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.containtech p {
    font-weight: bold;
    margin: 10px 0 30px 0;
}

/*-----------------------bouton retour -------------------------- */
.retour img {
    height: 40px;
    width: 40px;
}
.retour {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 60px 0 0 20px;
}

.retour p {
    font-size: 20px;
    font-weight: bold;
}

/* --- les titres  --- */

.titre {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 80px 0 50px 80px;

    background: linear-gradient(45deg, #1de9b6, #4a148c);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;

    text-shadow: 0 0 10px rgba(77, 242, 215, 0.5),
    0 0 20px rgba(74, 20, 140, 0.4);

    animation: fadeInSlideRotate 0.7s ease-out forwards,
    pulseGlow 2.5s infinite alternate ease-in-out;
}

.titrep, .titremainProjet {
    font-weight: bolder;
    color: gray;
    margin: 80px 40px 30px 90px;
}

@keyframes pulseGlow {
    0% {
        text-shadow: 0 0 10px rgba(77, 242, 215, 0.5),
        0 0 20px rgba(74, 20, 140, 0.4);
    }
    100% {
        text-shadow: 0 0 20px rgba(77, 242, 215, 0.9),
        0 0 30px rgba(74, 20, 140, 0.7);
    }
}
/* titre projet, web projet, dev, projet bd*/
.titremainProjet {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    margin: 100px 60px ;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* phrase du lien github */

.lien p {
    font-size: 18px;
}
.lien {
    margin: 50px;
    font-weight: bold;
    text-align: center;
    /*font-size: medium;*/
}

.lien span {
    font-weight: bold;
    font-family: "Anton", serif;
    color: aqua;
}
