@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/*----------- style de la nav/footer ---------------*/

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
}

/* logo du site */

.logo {
    font-family: 'Manrope', sans-serif;
    color: #ffd369;
    font-weight:900;
}

.logo span {
    color: #f4f4f4;
    font-weight:700;
}

.contactlogo {
    height: 40px;
    width: 40px;
    object-fit: contain;
}
/* navbar du site */

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #343f56; 
    padding: 20px 50px;
    font-size:20px;

}
nav ul {
    display: flex;
    gap: 50px;
}

nav ul li a {
    font-family: "Anton", serif;
}

/* footer */

footer {
    background-color: black;
    padding: 30px;
    font-size: 18px;
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titrefooter {
    margin: 15px;
}

.logofooter {
    display: flex;
    flex-direction: column;
}

.footer .infof {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; 
}
.cv {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 30px 0;

} 
/* copi */
.copi {
    text-align: center;
    padding: 30px;
    background-color: black;
}


