/*----------- style dans les boxs projets, presentation etc.. -----------*/

body {
    background-color: #1d212a;
}

/*----------- les logiciels (img ) à coté de la description du projet dans les box -----------*/

.imgtech {
    height: 70px;
    width: 70px;
    object-fit: contain;
}

.boxD {
    width: 600px;
    margin: 0 50px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
}

/*taille de l'image dans les box à coté de la description (projetScreen) */
.imgPresentation {
    height: 425px;
    width: 625px;
    margin: 20px 50px 20px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px;
}

.presentationP {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*les logiciels que j'ai utilisé pour un projet*/
.logiciel {
    display: flex;
    margin: 50px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.logiciel p {
    text-align: center;
    font-weight:800;
}

/*-------------------------------------- fonctionnalités, apprentissage---------------------------------------------------------*/

.feature-section {
    margin: 0 auto;
    max-width: 900px;
    max-height: 400px;
    padding: 0 20px;
}

.feature-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.feature-content ul {
    flex: 1;
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

.slider-container {
    max-width: 400px;
    overflow: hidden;
}

.slider-1 .slider {
    display: flex;
    animation: slider-1 12s infinite ease-in-out;
}

.slider-1 img {
    width: 400px;
    height: 300px;
    object-fit: contain;
    flex-shrink: 0;
}
/*changement 5%, pause 20%*/
@keyframes slider-1 {
    0%, 20% { transform: translateX(0); }
    25%, 45% { transform: translateX(-100%); }
    50%, 70% { transform: translateX(-200%); }
    75%, 95% { transform: translateX(-300%); }
    100% { transform: translateX(-400%); }
}

