/*
telephone -> @media (max-width: 600px)
ipad      -> @media (min-width: 601px) and (max-width: 1024px)
pc        -> @media (min-width: 1025px)
*/


/* responsive titre */
@media screen and (max-width: 480px) {
    .titre {
        font-size: 2em;
    }
    .titremainProjet {
        font-size: 1em;
    }
    .titrep {
        font-size: 1em;
    }
    p {
        font-size: 12px;
    }
}

/* responsive nav de la page principale */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;

    }
    nav ul {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        padding: 10px 0;
    }
}

/* responsive premiere page dans la section about me */
@media screen and (max-width: 768px) {
    .aboutme {
        flex-direction: column;
        text-align: center;
    }
    .tete {
        width: 250px;
        height: 250px;
    }
    .about-me p {
        font-size: 0.9rem;
    }
}

/*responsive sur les listes de techs*/
@media (max-width: 600px) {
    .technologies {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 10px;
    }

    .imgtech {
        height: 50px;
        width: 50px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .technologies {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 15px;
    }
}

/* responsive dans les images projets */
@media (max-width: 600px) {
    .containProjets {
        grid-template-columns: 1fr; /* une colonne */
        gap: 20px;
        margin: 40px auto;
    }

    .projetBox {
        max-width: 90%;
        height: 160px;
    }
}
@media (min-width: 601px) and (max-width: 1024px) {
    .containProjets {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 25px;
    }

    .projetBox {
        max-width: 250px;
        height: 170px;
    }
}

/* responsive dans les projets box */
@media screen and (max-width: 1350px) {
    .presentationP {
        display: flex;
    }

    .descriptionP .boxD {
        max-width: 550px;
    }

    .projetS {
        height: 400px;
        width: 600px;
        margin: 0 auto;
    }

    /* deuxieme partie des projets box */

    .fonc , .gain {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fonD ul, .gain ul li {
        text-align: center;
        font-size: 15px;
        max-width: 600px;
    }

    .imgPF .projetSDeux, .imgPG .projetSDeux, .fonD .projetSDeux  {
        height: 300px;
        width: 500px;
    }
}

@media screen and (max-width: 1025px) {

    .presentationP {
        display: flex;
        flex-direction: column;
    }

    .descriptionP .boxD {
        max-width: 450px;
    }

    .projetS {
        height: 350px;
        width: 550px;
        margin: 0 auto;
    }

    /* deuxieme partie des projets box */

    .fonc , .gain {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fonc .fonD, .fonc .imgPF, .gain .imgPG  {
        display: flex;
        flex-direction: column;
    }
    .fonD ul, .gain ul li {
        text-align: center;
        font-size: 15px;
        max-width: 600px;
    }

    .imgPF .projetSDeux, .imgPG .projetSDeux, .fonD .projetSDeux  {
        height: 300px;
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .titrep {
        font-size: 22px;
        margin: 30px 0;
        text-align: center;
    }
    .presentationP {
        display: flex;
        flex-direction: column;
    }

    .descriptionP .boxD {
        max-width: 270px;
        font-size: 14px;
    }
    .projetS {
        height: 200px;
        width: 320px;
        margin: 0 auto;
    }
    .logiciel {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .logiciel div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* deuxieme partie des projets box */

    .fonc , .gain {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fonc .fonD, .fonc .imgPF, .gain .imgPG  {
        display: flex;
        flex-direction: column;
    }
    .fonD ul , .gain ul  {
        text-align: center;
        max-width: 280px;
        font-weight: normal;
    }
    .fonD .sizeD li , .gain .sizeD li{
        font-size: 14px;
    }

    .imgPF .projetSDeux, .imgPG .projetSDeux, .fonD .projetSDeux  {
        height: 150px;
        width: 300px;
    }
}

/* responsive du footer */
@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .logof {
        margin: 30px;
    }
}
