@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* les réglages de base  */
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #1d212a; 
}

/* main page about me */
.tete {
    height: 350px;
    width: 350px;
    border-radius: 200px;
    box-shadow: -1px 3px 20px 2px;
}

.aboutme {
    margin: 60px 30px;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

/* ma description */
.desciptionMoi p {
    font-size: 20px; 
    font-weight: 500;
}

.aboutme .desciptionMoi {
    max-width: 700px;
}

.imgtech {
    height: 70px;
    width: 70px;
    object-fit: contain;
}
/* dans la page principal liste des techs */
.technologies {
    margin: 0 auto;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    max-width: 90%;
    text-align: center;
}

